/*this should touch screens users to see the drop-list on nav section*/
@media (hover: none) {
  .showcase-img:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

/*between 1200 and 1024*/
@media only screen and (max-width: 1200px) {
  .head2 {
    padding-top: 45px;
    font-size: 170%;
  }

  .nav {
    width: 93%;
  }

  .nav-bar {
    width: 70%;
  }

  .box {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  /*-------------------------------
    REUSABLE-STYLE
    --------------------------------*/

  .head2 {
    padding-top: 35px;
    font-size: 160%;
  }

  .head2:after {
    margin: 25px auto;
  }

  .head3 {
    font-weight: 300;
    font-size: 140%;
  }

  /*-------------------------------
WELCOME-PAGE
--------------------------------*/

  .nav {
    width: 97%;
  }

  .nav-bar {
    width: 75%;
  }

  .logo {
    margin-right: 12px;
  }

  .logo-design {
    width: 72px;
    height: auto;
  }

  .logo-text {
    font-size: 90%;
  }

  .header-welcome {
    transform: translate(0%, 140%);
  }

  .nav-bar-links span {
    font-size: 90%;
  }

  /*-------------------------------
SECTION-INFO
--------------------------------*/

  .section-info {
    height: auto; /*edit this when customer supply you with content */
  }

  .section-info-para {
    font-size: 105%;
    text-align: center;
  }

  .boxes {
    width: 95%;
  }

  .box {
    padding-top: 30px;
    padding-bottom: 0px;
    width: 23%;
  }

  .box:last-child {
    padding-bottom: 30px;
  }

  /*-------------------------------
SECTION-FORM
--------------------------------*/

  /*-------------------------------
FOOTER
--------------------------------*/

  .footer-container {
    width: 95%;
  }

  .text-info {
    font-size: 80%;
  }

  .footer-icons-list li {
    margin-left: 25px;
  }

  .social-icon {
    font-size: 170%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 18px;
    overflow-x: hidden;
    width: 100%;
  }

  /*-------------------------------
WELCOME-PAGE
--------------------------------*/

  .title-header {
    font-size: 160%;
  }

  .header-welcome {
    align-items: center;
  }

  .nav {
    width: 85%;
  }

  .logo-design {
    width: 75px;
    height: auto;
  }

  .logo-text {
    font-size: 90%;
  }

  /*.nav-bar{
    position: relative;
    top: 0;
    left: 0;
     height: 100vh;
    width: 45%; 
  }<!>*/

  .nav-bar-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.8s;
    z-index: 1;
    background: #202020;
    height: 100vh;
    width: 45%;
  }

  .nav-bar-links {
    text-align: right;
    padding-right: 30px;
  }

  .burger-menu {
    /*when the burger menu is clicked the .burger-move will to left to not overlap with .nav-bar-list content */
    display: block;
    z-index: 2;
    transition: 0.8s;
  }

  .dropdown-parent:hover .dropdown-list {
    display: none;
  }

  /*-------------------------------
SECTION-PICTURES
--------------------------------*/

  .showcase-img:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }

  /*-------------------------------
SECTION-INFO
--------------------------------*/
  .info-banner {
    width: 90%;
  }

  .box {
    width: 90%;
    text-align: center;
  }

  .box h3 {
    padding: 15px 0 35px 0;
  }

  .info-icon {
    font-size: 550%;
  }

  /*--------------------------------
SECTION-FORM
--------------------------------*/
  .form-section-banner,
  .form {
    width: 90%;
  }

  /*-------------------------------
FOOTER
--------------------------------*/

  .footer-container {
    width: 90%;
    flex-direction: column;
  }

  .footer-icons-list {
    margin-bottom: 20px;
  }
}

/*-------------------------------
JS-RESPONSIVE-ACTION
--------------------------------*/

.burger-menu-active {
  transform: translateX(0%);
  /*when the burger menu is clicked the .burger-menu-active will be activated and the .nav-bar-list moves 100% from right to left to make the menu */
}

.burger-move {
  transform: translate(
    -50%
  ); /*when the burger menu is clicked the .burger-move will to left to not overlap with .nav-bar-list content */
}

@media only screen and (max-width: 479px) {
  html {
    overflow-x: hidden;
    font-size: 17px;
  }

  .form-section-banner,
  .form {
    width: 90%;
    padding: 30px;
  }
}
